/* Navbar/Header styling */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 2px 2px #444;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header li {
  margin: 0 10px;
}

header a {
  color: #02b3e4;
  text-decoration: none;
  padding: 0 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

header a:hover {
  background-color: #02b3e4;
  color: white;
}

/* HomePage and General styling */
.PageContent {
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

/* Employee List styling */
.EmployeeList {
  margin: auto;
  max-width: 90%;
  padding: 1rem;
  border-radius: 5px;
  background-color: #333;
  box-shadow: 0 2px 5px #444;
}

.EmployeeList table {
  width: 100%;
  border-collapse: collapse;
}

.EmployeeList table thead {
  background-color: #02b3e4;
  color: white;
}

/* Form styling */
.Form {
  margin: auto;
  max-width: 60%;
  padding: 1rem;
  border-radius: 5px;
  background-color: #333;
  /* Centering the form */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form label {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}

.Form input,
.Form button {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #444;
}

/* Button styling */
button,
.button {
  background-color: #02b3e4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 10px 5px;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: #029dbe;
}

/* Footer styling */
footer {
  background-color: #333;
  color: #fff; /* White text color */
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 -2px 2px #444;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
