body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Navbar/Header styling */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header li {
  margin: 0 10px;
}

header a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

header a:hover {
  background-color: blue;
}

/* HomePage and other pages styling */
.PageContent {
  padding: 2rem;
  text-align: center;
}

/* Employee List styling */
.EmployeeList {
  margin: auto;
  max-width: 90%; /* Fluid width */
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.EmployeeList table {
  width: 100%;
  border-collapse: collapse;
}

.EmployeeList table thead {
  background-color: #333;
  color: white;
}

/* Form styling */
.Form {
  margin: auto;
  max-width: 60%; /* Adjusted for a smaller form */
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;

  /* Centering the form */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form label {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%; /* Full width within the form */
}

.Form input, .Form button {
  width: 80%; /* Adjusted width of inputs and buttons */
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Button styling */
button, .button {
  background-color: #555;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 10px 5px;
  cursor: pointer;
}

button:hover, .button:hover {
  background-color: #666;
}

/* Footer styling */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}